/* VARIABLES*/
:root {

}

/*RESET*/
   *,
   *::before,
   *::after {
       box-sizing: border-box;

       margin: 0;
       padding: 0;
   }

html {
    font-family: Poppins, sans-serif;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul {
    list-style: none;
}

a {
    color: inherit;

    text-decoration: none;
}



/* MAIN*/
   body {
    inline-size: min(30rem, 100% - 2rem);
       margin-inline: auto;
       border: 1px solid red;

   }
